source https://nuget.org/api/v2

nuget Bootstrap
nuget FSharp.Formatting
nuget Microsoft.Owin.Hosting
nuget NUnit
nuget NUnit.Runners
nuget Nancy.Owin
nuget Nowin
nuget Nuget.CommandLine
nuget FAKE
nuget ServiceStack.OrmLite.Sqlite.Mono
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx